.additional {
  @media @tablet-width {
    min-height: 257px;
  }

  @media @desktop-width {
    // margin-bottom: 60px;
    min-height: auto;
  }
}

.additional__title {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 39px;

  @media @tablet-width {
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
    margin-bottom: 64px;
  }

  @media @desktop-width {
    margin-bottom: 66px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 13px;
    left: 164px;
    width: calc(100vw - 184px);
    background-color: @green;
    height: 3px;

    @media @tablet-width {
      top: 23px;
      left: 218px;
      width: calc(100vw - 289px);
    }

    @media @desktop-width {
      top: 25px;
      left: 250px;
      // width: calc(100vw - 250px - 111px);
      width: 100% - 250px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    background-color: @green;
    height: 3px;

    @media @tablet-width {
      top: 23px;
      right: 671px;
      width: calc(100vw - 738px);
    }

    @media @desktop-width {
      top: 25px;
      right: 1260px;
      width: calc(100vw - 1352px);
    }
  }
}

.additional__components {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: #222222;

  @media @tablet-width {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 160px;
    max-width: 530px;
  }

  @media @desktop-width {
    max-width: 1122px;
    min-height: 95px;
  }
}

.additional__component {
  position: relative;
  padding-left: 2.9em;
  margin-bottom: 25px;
  cursor: pointer;

  &:last-child {
    margin-bottom: 40px;

    @media @tablet-width {
      margin-right: 37px;
    }
  }

  &:active {
    opacity: 0.3;
  }

  ::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    cursor: pointer;

    @media @tablet-width {
      width: 40px;
      height: 40px;
    }

    @media @desktop-width {
      width: 40px;
      height: 40px;
    }

    &:hover,
    &:focus {
      border: 1px solid #bababa;
    }
  }

  @media @tablet-width {
    font-size: 20px;
    line-height: 20px;
  }
}

.additional__component input {
  display: none;
}

.additional__one {
  cursor: pointer;
}

.additional__component input:checked + .additional__one::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  width: 22px;
  height: 17px;
  top: 2px;
  left: 7px;
  cursor: pointer;

  @media @tablet-width {
    top: 6px;
    left: 8px;
  }
}
