.case {
  // margin: 0 auto;
  // box-sizing: border-box;
  // width: 280px;
  min-height: 705px;
  background-color: #f2f2f2;
  // border: 1px solid black;

  @media @tablet-width {
    padding-top: 51px;
    border-top: 1px solid @border-color;
    min-height: 1081px;
    background-color: white;
  }

  @media @desktop-width {
    min-height: 576px;
  }
}

.case__title {
  margin: 0;
  padding-top: 14px;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;

  @media @tablet-width {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }
}

.case-view {
  @media @tablet-width {
    background-color: #f2f2f2;
    height: 462px;
  }
}
