.case {
  // margin: 0 auto;
  // box-sizing: border-box;
  // width: 280px;
  min-height: 705px;
  background-color: #f2f2f2;
  // border: 1px solid black;

  @media @tablet-width {
    padding-top: 51px;
    border-top: 1px solid @border-color;
    min-height: 1081px;
    background-color: white;
  }

  @media @desktop-width {
    min-height: 576px;
  }
}

.case__title {
  margin: 0;
  padding-top: 17px;
  margin-bottom: 23px;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;

  @media @tablet-width {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }
}

.case-view {
  @media @tablet-width {
    background-color: #f2f2f2;
    height: 462px;
  }
}

.case__text {
  .list-reset();
  margin-bottom: 28px;
  font-family: @font-arial;
  font-size: 14px;
  line-height: 18px;
  color: @grey;
}


.case__result {
  .list-reset();
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;
  width: 100%;
  list-style: none;
}

.case__price {
  .list-reset();
  margin-bottom: 39px;
  font-size: 14px;
  line-height: 20px;
  color: black;
  text-transform: uppercase;
  text-align: center;
}
