.dealers-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 31px 25px 28px 19px;
  box-sizing: border-box;
  height: 114px;
}

.dealers-info__title {
  width: 50%;
  line-height: 20px;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
}

.dealers-info__address {
  width: 50%;
  line-height: 20px;
  font-size: 14px;
  font-style: none; //Не работает
}

.dealers-info__map {
  height: 362px;
  width: 100%;
  background-image: url("../img/bg-map-mobile@1x.png");
  z-index: 6;
}
