.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;

  @media @tablet-width {
    padding-top: 11px;
  }

  @media @desktop-width {
    padding-top: 32px;
    background-color: transparent;
  }
}

.header__link-menu {
  position: relative;
  // top: -4px;
  width: 25px;
  height: 19px;
  background-image: url("../img/icon-mobile-menu.svg");
  // margin-left: 15px;
  margin-right: 10px;
  // margin-top: 11px;
  z-index: 1;

  & .menu--hide {
    display: none;
  }

  @media @tablet-width {
    display: none;
  }
}

.header__link-menu--close {
  position: relative;
  top: 0;
  left: 4px;
  width: 19px;
  height: 19px;
  // z-index: 5;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    background-color: black;
    width: 2px;
    height: 19px;
    // z-index: 5;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.header__logo {
  padding-top: 12px;
  padding-bottom: 12px;
  // flex-grow: 1;
  // min-width: 55%;

  @media @mobile-width {
    min-width: 55%;
    margin: 0;
  }
}

.header__logo__top {
  width: 204px;
  height: 77px;
}

.header__menu {
  @media @mobile-width {
    flex-grow: 1;
  }
}
