.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 320px;
  box-sizing: border-box;
  // width: auto;
  // min-width: 65px;
  background-color: white;
  // margin-top: 11px;
  // padding: 11px 20px 15px 20px;

  @media @tablet-width {
    width: 768px;
  }
}

.header__link-menu {
  position: relative;
  top: 12px;
  width: 25px;
  background-image: url("../img/icon-mobile-menu.svg");
  height: 19px;
  margin-left: 15px;
  margin-right: 20px;
  margin-top: 11px;

  @media @tablet-width {
    display: none;
  }
}

.header__logo {
  padding-top: 11px;
  // padding-left: 20px;
  padding-bottom: 11px;
  // border-bottom: 1px solid gray;
}
