.main-info {
  // box-sizing: border-box;
  font-size: 12px;
  line-height: 16px;
  color: #444444;

  @media @tablet-width {
  text-align: center;
  }
}

.main-info__title {
  max-width: 97px;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 9px;
  margin-top: 20px;
  margin-right: 45px;
  text-transform: uppercase;
  font-weight: normal;

  @media @tablet-width {
    .list-reset();
    max-width: 164px;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 30px;
    padding-left: 20px;
    font-size: 20px;
    line-height: 20px;
  }

  @media @desktop-width {
    margin-top: 15px;
    margin-bottom: 27px;
    max-width: 200px;
  }
}

.main-info__description {
  width: auto;
  box-sizing: border-box;
  border-spacing: 23px 0;
  text-align: left;
  // margin-right: 10px;
  margin-bottom: 21px;

  @media @tablet-width {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 65px;
  }

  @media @desktop-width {
    margin-bottom: 70px;
  }
}
