.more-card {
  box-sizing: border-box;
  width: 320px;
  min-height: 210px;
  padding: 0 20px;
  padding-top: 81px;
  border-bottom: 1px solid #444444;

  &::after {
    content: url("../img/icon-plus-mobile.svg");
    width: 31px;
    height: 31px;
    position: absolute;
    bottom: 43px;
    right: 45%;
  }
}

.more-card__title {
  position: relative;
  margin: 0;
  // margin-top: 81px;
  margin-bottom: 6px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.more-card__text {
  margin: 0;
  margin-bottom: 23px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
}
