.product {
  // box-sizing: border-box;
  width: 320px;
  height: 209px;
  padding: 0 20px;
  // padding: 0 20px 15px 20px;
  margin-left: -20px;
  border-top: 1px solid @border-color;
  // border-bottom: 1px solid #444444;
  // display: flex;
  // justify-content: space-between;

  @media @tablet-width {
    position: relative;
    .list-reset();
    border: none;
    width: 324px;
    min-height: 431px;
    background-color: #f2f2f2;
    margin-bottom: 140px;
    // padding-bottom: 30px;
    padding: 0 37px 30px 37px;
    padding-top: 145px;
  }

  &:nth-child(1) {
    @media @desktop-width {
      margin-bottom: 140px;
    }
  }

  &:nth-last-child(2) {
    margin-bottom: 0;
  }

  @media @desktop-width {
    width: 245px;
    min-height: 431px;
    margin-bottom: 0;
  }
}

.product__card {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  // padding-top: 20px;

  @media @tablet-width {
    display: block;
    text-align: center;
    // padding: 0 37px;
  }

  @media @desktop-width {
    padding: 0;
    margin-bottom: 30px;
  }
}

.product__image {
  @media @tablet-width {
    position: absolute;
    left: 0;
    top: -11%;
    width: 100%;
    height: auto;
  }

  &--big {
    @media @tablet-width {
      position: absolute;
      top: -19%;
    }
  }
}

.product__info {
  // display: flex;
  // justify-content: space-between
  margin: 0;
}

.product__button {
  // width: 169px;
  @media @desktop-width {
    width: 169px;
  }
}
