.user-form {
  width: 320px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.user-form__title {
  margin: 0;
  margin-bottom: 37px;
  padding-top: 29px;
  // padding-left: 10px;
  font-stretch: normal;
}

.user-form__text {
  margin: 0;
  margin-bottom: 39px;
  font-size: 14px;
  line-height: 18px;
  max-width: 230px;
  text-transform: uppercase;
}

.user-form__main {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.user-form__button {
  margin-bottom: 23px;
}

.require {
  width: auto;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  margin: 0 auto;
}
