.main-info {
  // box-sizing: border-box;
  font-size: 12px;
  line-height: 16px;
  color: #444444;

  @media @tablet-width {
    text-align: center;
  }
}

.main-info__title {
  max-width: 97px;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 16px;
  margin-top: 20px;
  margin-right: 45px;
  text-transform: uppercase;
  font-weight: normal;

  @media @tablet-width {
    .list-reset();
    max-width: 198px;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 15px;
    padding-left: 54px;
    font-size: 20px;
    line-height: 20px;
  }

  @media @desktop-width {
    margin-top: 18px;
    margin-bottom: 18px;
    max-width: 165px;
    padding-left: 6px;
  }
}

// .main-info__description {
//   width: auto;
//   box-sizing: border-box;
//   border-spacing: 23px 0;
//   text-align: left;
//   // margin-right: 10px;
//   margin-bottom: 21px;

//   @media @tablet-width {
//     font-size: 16px;
//     line-height: 16px;
//     margin-bottom: 65px;
//   }

//   @media @desktop-width {
//     margin-bottom: 70px;
//   }
// }
