html {
  box-sizing: border-box;
}

.visually-hidden {
  display: none;
}

body {
  min-width: 320px;
  margin: 0 auto;
  font-family: @font;
  background-color: white;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
